body {
	font-size: 100%;
        padding: 16px;
        background-color: #455A64;
        color: #FFFFFF;
}

#status {
	/* avoid an excessively wide status text */
		/*white-space: pre;*/
        word-wrap: break-word;
        /*min-width: 400px;
        min-height: 300px;*/

        width: 100%;
        width: 375px;
        height: 24px;
        overflow: auto;
}

#button_next {
        margin: 16px;
        float: right;
}

#message_submit
{
	position:absolute;
	right: 10px;
}

#button_submit
{
	position:absolute;
	right: 10px;
}

/* label color */
.input-field label {
color: #FF5722;
}
/* label focus color */
.input-field input[type=text]:focus + label {
color: #FF5722;
}
/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid #FF5722;
box-shadow: 0 1px 0 0 #FF5722;
}
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid #FF5722;
box-shadow: 0 1px 0 0 #FF5722;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 1px solid #FF5722;
box-shadow: 0 1px 0 0 #FF5722;
}
/* icon prefix focus color */
.input-field .prefix.active {
color: #FF5722;
}

.card-panel.p1
{
    padding: 8px;
    word-break: break-all;
    text-align: right;
    float: right;
    max-width: 300px;
    margin-left: 100px;
    margin-bottom: 2px
}

.card-panel.p2
{
    padding:8px;
	word-break: break-all;
    float: left;
    max-width: 300px;
    margin-right: 100px;
    margin-bottom: 2px
}