body {
	font-size: 100%;
}
#status {
	/* avoid an excessively wide status text */
		white-space: pre;
        word-wrap: break-word;
        overflow: hidden;
        /*min-width: 400px;
        min-height: 300px;*/

        width: 100%;
        min-height: 20px;
        max-width: 300px;
        max-height: 600px;
}

#next {
	margin: 16px;
	float: right;
}