body {
	font-size: 100%;
        padding: 16px;
}

#status {
	/* avoid an excessively wide status text */
		/*white-space: pre;*/
        word-wrap: break-word;
        /*min-width: 400px;
        min-height: 300px;*/

        width: 100%;
        width: 375px;
        height: 24px;
        overflow: auto;
}

#button_next {
        margin: 16px;
        float: right;
}

#p2
{
	word-break: break-all;
	white-space: normal;
}

#message_submit
{
	position:absolute;
	right: 10px;
}

#button_submit
{
	position:absolute;
	right: 10px;
}